
{% extends 'base.html' %}



{%block title%} Category {%endblock%}


{%block content%}
<div class="container">
<div class="row">
    
    <div class="col-md-12">
        <div class="h1 text-center font-weight-bold mt-3">
            {{cat.title}}
         </div>
    <div class="card mb-3 shadow p-1 mb-5 bg-light rounded mt-4 ml-4 mr-4"  >
        
        <img class="card-img-top" src="/media/{{cat.image}}" alt="Card image cap " style="height:35rem; object-fit: cover;width: 100%;">
        <div class="card-body d-flex flex-column">
            <div class="card-header font-weight-bold bg-dark text-white">     
              {{cat.title}} Related Posts
              </div>
            <ul class="list-group list-group-flush">
                {% for i in posts %}
                <li class="list-group-item"><a href="/blog/{{i.post_id}}" >{{i.title}}</a></li>
                {% empty %}

                <h3>No Posts in this category</h3>
             
              </ul>

              {% endfor %}

        </div>
        
      </div>
      </div>
    

</div>

</div>



{% endblock  %}