<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" style="    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);">
  
   <a class="navbar-brand mb-0 h1 font-weight-bold" href="/">Saveyourderm</a>
   <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
       <span class="navbar-toggler-icon"></span>
   </button>
<div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item dropdown"><a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#">Category</a>
            <ul class="dropdown-menu bg-light  ">
                {% for i in category %}
                <a href="/category/{{i.url}}" class="dropdown-item ">{{i.title}}</a>
                
                <hr class="solid">
               
                {% endfor %}
                
            </ul>    
            </li>
    
        <li class="nav-item"><a class="nav-link active" href="/about-us">About</a></li>
        <li class="nav-item"><a class="nav-link active" href="/admin">Admin</a></li>
       

    </ul>
</div>

</nav>



